// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweets_list {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	background-color: #eee;
	padding: 5px;

	td {
		padding: 5px;
	}

	.tweet_handle {
		font-weight: bold;
		font-size: 15px;
	}

	.tweet_body {
		font-size: 15px;
	}

	a {
		color: #FD007A;
	}
}

.new_tweet_link {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: #FD007A;
	width: 100px;
	padding: 10px;

	a {
		text-decoration: none;
		color: #fff;
	}
}